#meetupHeading{
    color: #ff585d;
    font-size: 2.5rem; 
    font-weight: 600;
    text-decoration: none;
}
#bg-color{
  background-color: whitesmoke;
}
#event-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color:whitesmoke;
  color: grey;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}
#card-img-top {
  position: relative;
}
.card-img{
  width: 100%; 
  height: 200px; 
  object-fit: cover
}
.card-load{
  background-color: lightgrey;
}
#linkDescription{
  text-decoration: none;
}
#descriptionImage{
  width: 70%;
  height: 300px; 
  object-fit: cover
}
#tag{
  cursor:default
}
.card-des{
  width:70%;
}
.speakerImage{
  height: 125px;
  width: 150px;
}
.descData{
  width: 70%
}